@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tajawal:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logos */

h1, h2 {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: rgba(153, 144, 235, 0.7);
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* start image and cover text */

#start-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    float: left;
}

#cover-text, #cover-text h2 {
    color: #3b3b3b;
}

#start-image {
    height: 600px;
    width: 50%;
    background: url(../images/running-man-bridge-stairs.jpg) no-repeat center center;
    float: left;

    /* animate zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/* Create level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 75px;

    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;

    background-color: rgba(153, 144, 235, 0.7);

    bottom: 30px;
    left: 750px;

    position: absolute;
}

/* About text background and style */

#about-text {
    font-size: 80%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-align: center; 
    line-height: 30px;
    vertical-align: middle;

    width: 600px;
    height: 600px;

    background-color: rgba(34, 26, 107, 0.856);
    border-radius: 50%;
    float: right;
    margin-right: 30px;
    
}

#about-text > h2 {
    color: white;
}

#about-text > h2:first-child {
    padding-top: 200px;
}