@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tajawal:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logos */

h1, h2 {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #3a3a3a2a;
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* start image and cover text */

#start-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    float: left;
}

#cover-text, #cover-text h2 {
    color: #888888;
}

#start-image {
    height: 600px;
    width: 100%;
    scale: -2000%;
    background: url(../images/bw-image.jpg) no-repeat center center;

    /* animate zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Create level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}